/* IMAGE DEFAULT */

.media-img-default{
  .figure{
   img{
     opacity: 1;
     position: relative;
     display: block;
     width: 100%;
   }
    .figcaption{
      padding: 8px;
      &.text-center{
        text-align: center;
      }
      span{
        font-size: .7rem;
      }
    }
  }
}