/* Texts styles */

h1 {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

h2 {
  font-size: 35px;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

h3 {
  font-size: 24px;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

h4 {
  font-size: 20px;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

p {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;  
  color: rgb(0, 0, 0);
}

.link-article {
  font-size: 16px;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 700;
  font-style: italic;
  color: rgb(222, 35, 51);
}

.link-article:hover {
  font-size: 16px;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 700;
  text-decoration: underline;
  color: rgb(222, 35, 51);
}

.peu-article {
  font-size: 12px;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 700;
  font-style: italic;
  color: rgb(222, 35, 51);
}

.main-text-index-title {
  font-size: 35px;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-align: center;
}

.main-text-index-title-secondary {
  font-size: 35px;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.main-text-index-description {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  color: rgb(0, 0, 0);
  text-align: left;
}

@media (min-width: 767px) {
  .main-text-index-description {
    font-size: 25px;
  }

  .copyright-footer {
    max-width: 1200px;
    text-align: left;
  }

  header {
    max-width: 1200px;
    text-align: left;
  }
}

@media (max-width: 766px) {
  .main-text-index-description {
    font-size: 20px;
  }
}

@media (max-width: 375px) {
  .main-text-index-description {
    font-size: 18px;
  }
}

.logo-bold {
  display: inline-block;
  font-size: 30px;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 0px;
}
  
.logo-normal {
  display: inline-block;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  color: rgb(0, 0, 0);
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: -3px;
}

.data-noticia {
  color: #000;
}

.titol-noticia {
  margin-top: 10px;
  margin-bottom: 10px;
}

.titol-noticia a {
  color: rgb(222, 35, 51);
  text-decoration: none;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.descripcio-noticia {
  color: #000;
  margin-bottom: 20px;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.read-more {
  color: rgb(222, 35, 51);
  text-decoration: none;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.read-more-apps {
  color: rgb(222, 35, 51);
  text-decoration: none;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.read-more-article {
  color: rgb(222, 35, 51);
  text-decoration: none;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 700;
  font-size: 14px;
  display: block;
}

.copyright-footer {
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 14px;
}

@media (min-width: 767px) {
  .copyright-footer {
    max-width: 1200px;
    text-align: left;
  }
}

@media (max-width: 766px) {
  .copyright-footer {
    width: 100%;
    text-align: center;
  }
}

.separator {
  margin: 0 5px;
  color: rgb(255, 255, 255);
}

.title-page {
  padding: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.breadcrumb {
  list-style: none;
  padding: 0;
  margin: 40px 0;
}

@media (max-width: 799px) {
  .breadcrumb {
    padding-left: 20px;
    text-align: left;
  }
}

.breadcrumb li {
  display: inline;
}

.breadcrumb li:not(:last-child):after {
  content: " > ";
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 14px;
}

.breadcrumb li:last-child {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 14px;
}

.breadcrumb-text {
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 14px;
}

.breadcrumb-text-last {
  color: rgb(222, 35, 51);
  font-weight: 700;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 14px;
}

.text-box-article {
  font-size: 35px;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 700;
  color: rgb(0, 0, 0);
  display: inline-block;
}

/* Container styles */

header {
  margin: 0 auto;
}

@media (min-width: 767px) {
  header {
    max-width: 1200px;
    text-align: left;
  }
}

@media (max-width: 766px) {
  header {
    width: 100%;
    text-align: center;
  }
}


.logo {
  margin: 20px auto;
}

@media (min-width: 900px) {
  .logo {
    max-width: 1200px;
    text-align: left;
  }
}

@media (max-width: 899px) {
  .logo {
    width: 100%;
    text-align: center;
  }
}


body {
  margin: 0 auto;
}

main {
  margin: 0 auto;
}

@media (min-width: 767px) {
    main {
      max-width: 1200px;
      margin: 0 auto;
    }
}
  
@media (max-width: 766px) {
    main {
      width: 100%;
      margin: 0 auto;
    }
}


.noticies-index {
  flex-wrap: wrap;
  margin: 0 auto;
}

@media (min-width: 767px) {
  .noticies-index {
    display: flex;
  }
}

@media (max-width: 766px) {
  .noticies-index {
    display: block;
  }
}


.noticia-columna {
  padding: 0;
  margin: 0 auto; 
}

@media (min-width: 767px) {
  .noticia-columna {
    width: 33.33%;
  }
}

@media (max-width: 766px) {
  .noticia-columna {
    width: 90%;
  }
}

.noticia-card {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin-bottom: 20px;
}

.noticia-card img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

@media (min-width: 767px) {
  .main-text-index {
    max-width: 1000px;
    text-align: left;
    margin: auto;
    width: 95%;
  }
}

@media (max-width: 766px) {
  .main-text-index {
    width: 95%;
    text-align: center;
    margin: auto;
  }
}



/* Links */

a {
  text-decoration: none;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 10px 0;
  margin: 0 auto;
  z-index: 1;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.nav-menu-list {
  list-style: none;
  margin: auto;
  padding: 0;
  max-width: 1200px;
}

@media (min-width: 900px) {
  .nav-menu-list li {
    max-width: 1200px;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-align: left;
  }
}

@media (max-width: 899px) {
  .nav-menu-list li {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
}

.nav-menu-item {
  text-decoration: none;
  font-weight: 700;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.nav-menu-item:hover {
  text-decoration: none;
  font-weight: 700;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 14px;
  color: rgb(0, 0, 0, 0.5);
}

.nav-menu-item-active {
  text-decoration: none;
  font-weight: 700;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 14px;
  color: rgb(222, 35, 51);
}

.articles-index {
  margin: 0 auto;
}

@media (min-width: 767px) {
  .articles-index {
    max-width: 1200px;
  }
}

@media (max-width: 766px) {
  .articles-index {
    width: 95%;
  }
}

footer {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 14px;
  max-width: 100%;
  margin-top: 20px;
}

.footer-columna {
  display: flex;
  flex-direction: column;
}

@media (min-width: 767px) {
  .footer-columna {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media (max-width: 766px) {
  .footer-columna {
    width: 100%;
    margin: 0 auto;
  }
}


.footer-links-desktop {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-links-mobile {
  list-style: none;
  display: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 766px) {
  .footer-links-desktop {
    display: none;
  }
  
  .footer-links-mobile {
    list-style: none;
    display: block;
    margin: auto 0;
    padding: 0;
    text-align: center;
  }
}

.footer-links-desktop li {
  margin-right: 10px;
}

.footer-links-desktop li:last-child {
  margin-right: 0;
}

.footer-links-desktop a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.footer-links-mobile li {
  margin-right: 0;
}

.footer-links-mobile li:last-child {
  margin-right: 0;
}

.footer-links-mobile a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.social-media {
  margin-top: 10px;
}

@media (min-width: 767px) {
  .social-media {
    max-width: 1200px;
    text-align: left;
    display: flex;
  }
}

@media (max-width: 766px) {
  .social-media {
    width: 100%;
    text-align: center;
    display: inline-block;
  }
}

.social-media a {
  margin-right: 5px;
}

.social-media a:last-child {
  margin-right: 0;
}

.social-media img {
  width: 20px;
  height: 20px;
}

.grid-container {
  display: grid;
}

@media (min-width: 1000px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 20px;
    margin-bottom: 60px;
  }
}

@media (max-width: 999px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: 20px;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 766px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-gap: 20px;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 60px;
  }
}

.box {
  background-color: rgb(232, 232, 232);
  padding: 20px;
}

.article-box {
  background-color: rgb(232, 232, 232);
  padding: 20px;
  margin: 40px 0;
}


/* Multimedia styles */

.foto-portada-image {
  background-image: url("../img/bg-hero-home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  width: 100%;
  max-width: 100%;
}

@media (min-width: 767px) {
    .foto-portada-image {
      max-width: 100%;
      margin: 0 auto;
    }
}
  
@media (max-width: 766px) {
    .foto-portada-image {
      width: 100%;
      margin: 0 auto;
    }
}

.foto-portada-overlay {
  padding: 50px 0;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 0 auto;
  align-items: center;
}

@media (min-width: 767px) {
  .foto-portada-overlay {
    max-width: 1000px;
    width: 60%;
    font-size: 70px;
    line-height: 1.0;
  }
}

@media (max-width: 766px) {
  .foto-portada-overlay {
    max-width: 100%;
    width: 80%;
    font-size: 40px;
    line-height: 1.0;
  }
}

.video-grid {
  display: grid;
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: 40px;
    column-gap: 10px;
    margin-bottom: 60px;
  }
}

@media (max-width: 999px) {
  .video-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    row-gap: 40px;
    column-gap: 10px;
    margin-bottom: 60px;
  }
}

.video-box {
  background-color: rgb(241, 241, 241);

}

@media (min-width: 1000px) {
  .video-box {
    width: 560px;
    height: 315px;
    margin-bottom: 90px;
  }
}

@media (max-width: 999px) {
  .video-box {
    width: 90%;
    height: auto;
    margin-bottom: 40px;
    margin: 0 auto;
  }
}

.video-iframe {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Proporción de aspecto 16:9 */
  overflow: hidden;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0 auto;
}

.video-description {
  padding: 10px;
  background-color: rgb(241, 241, 241);
}

.video-description p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
}


/* Articles */

.article-aside {
  display: grid;
}

@media (min-width: 800px) {
  .article-aside {
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
  }
}

@media (max-width: 799px) {
  .article-aside {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    width: 95%;
    margin: 0 auto;
  }
}

article {
  padding: 0;
}

.image-cover {
  max-width: 100%;
  height: auto;
}

aside {
  padding: 0;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.avatar-article {
  width: 80px;
  height: 80px;
  border-radius: 20%;
  margin-right: 10px;
  display: inline-block;
}

aside h2 {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 700;  
  color: rgb(0, 0, 0);
  margin: 0;
  margin-bottom: 30px;
}

.aside-links {
  list-style: none;
  padding: 0;
}

.aside-links li {
  display: flex;
  padding-bottom: 20px;
}

.aside-links a {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 700;  
  color: rgb(0, 0, 0);
}

.aside-links-text {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;  
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}

.peu-foto {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  font-size: 12px;  
  color: rgb(0, 0, 0);
  margin: 20px 0;
  padding: 0;
}

.title-article {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  font-size: 12px;  
  color: rgb(0, 0, 0);
  margin: 20px 0;
  padding: 0;
}


form {
  margin: 0 auto;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  font-size: 16px;  
  color: rgb(0, 0, 0);
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: rgba(255, 255, 255, 0);
  background-color: rgb(241, 241, 241);
}

.text-body input[type="checkbox"] {
  margin-right: 5px;
  width: 15px;
  height: 15px;
}

button {
  margin: 50px auto;
  padding: 10px 20px;
  background-color: rgb(222, 35, 51);
  display: block;
  color: rgb(255, 255, 255);
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  font-size: 16px;
  border-color: rgba(0, 0, 0, 0);
  float: left;
}

.text-body {
  display: flex;
  align-items: center;
}

.text-link {
  color: rgb(222, 35, 51);
  text-decoration: none;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-left: 5px;
}

.text-link:hover {
  color: rgb(222, 35, 51);
  text-decoration: underline;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  font-size: 16px;
}